* {
    margin: 0;
    padding: 0;
}

body { 
    background-color: #183327;
    color: #D3D2C7
}

img {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 250px;
    left: 75px;
}

p {
    font-family: 'Nanum Gothic Coding', monospace;
    text-align: left;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 25px;
    padding-left: 485px;
    padding-right: 150px;
}

ul {
    font-family: 'Nanum Gothic Coding', monospace;
    text-align: left;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 25px;
    padding-left: 500px;
    padding-right: 150px;
}

ol {
    font-family: 'Nanum Gothic Coding', monospace;
    text-align: left;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 25px;
    padding-left: 500px;
    padding-right: 150px;
}

.headline {
    font-family: 'Oswald', sans-serif;
    font-family: 'Sacramento', cursive;
    text-align: center;
    font-size: 75px;
    padding-top: 75px;
    padding-bottom: 75px;
}

.subhead {
    font-family: 'Oswald', sans-serif;
    font-family: 'Sacramento', cursive;
    font-size: 30px;
    text-align: left;
    padding-left: 485px;
}

.li {
    padding-top: 3px;
    padding-bottom: 3px;
}

.homeIcon{
    width: 75px; /* Set the width of the button */
    height: 75px; /* Set the height of the button */
    border: none; /* Remove button border */
    cursor: pointer;
    background-color: #183327;
    color: #D3D2C7 ;
    transition: all;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.homeIcon:hover{
    transform: scale(1.1);
}

.homeIcon:active{
    transform: scale(0.9);
}

#png-button{
    position: absolute;
    left: 75px;
    top: 75px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    border: 0px;
}

